<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-version-check" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-version-check</name>
    <js-module name="cordova-plugin-version-check" src="www/cordova-plugin-version-check.js">
        <clobbers target="cordova.plugins.cordova-plugin-version-check" />
    </js-module>
</plugin>
